<div class="noi_dung">
  <div class="banner">
      <div id="carouselId" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                  <img src="./assets/image/bg1.jpg" width="100%" alt="First slide">
              </div>
              <div class="carousel-item">
                  <img src="./assets/image/bg3.jpg" width="100%" alt="Second slide">
              </div>
              <div class="carousel-item">
                  <img src="./assets/image/bg2.jpg" width="100%"alt="Third slide">
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>
  <div class="scroll">
      <img src="./assets/image/scroll.png" alt="">
  </div>
  <div class="noidungchinh">
      <div class="nhom_sp">
          <div class="tieude">
              <h1>
                  <span class="daugach" style="color: green;">|</span>&nbsp;&nbsp;
                  <span class="chu">Nhóm sản phẩm Bách Thiên</span>
              </h1>
          </div>
          <br>
          <div class="abc">
          <div class="hatcacao row">
              <div class=" col-lg-4">
                  <img src="./assets/image/icon-a-89940-7550.png" alt="">
                  <h2 class="tde">Cà phê Hạt</h2>
                  <span>Những hạt cà phê được tuyển lựa kỹ càng, sơ chế bằng các phương pháp thủ công và được rang xay bằng công nghệ “hot air” , đảm bảo sự tinh sạch, giữ trọn “Hương tinh túy, vị tự nhiên”.</span>
              </div>
              <div class="hatcf col-lg-4">
                  <img src="./assets/image/bot-cf-3499.png" alt="">
                  <h2 class="tde">Bột cà phê</h2>
                  <span>Bột cà phê rang xay loại hảo hạng được lọc bằng phin giấy Nhật Bản tạo nên ly cà phê truyền thống thơm ngon, được pha chế theo phong cách hiện đại, tiện dụng trong cuộc sống bận rộn.</span>
              </div>
              <div class="hatcf col-lg-4">
                  <img src="./assets/image/ca-phe-hoa-tan-3-in-1-manh-me-9842.png" alt="">
                  <h2 class="tde">Cà phê hòa tan</h2>
                  <span>Hương vị nồng nàn, mạnh mẽ tạo nên ly cà phê cực thơm ngon, mang lại cảm giác sảng khoái, hứng khởi và tràn đầy năng lượng cho ngày làm việc hiệu quả.</span>
              </div>
          </div>
          <br>
          <div class="hatcacao row">
              <div class=" col-lg-4">
                  <img src="./assets/image/tih-cf-8523.png" alt="">
                  <h2 class="tde">Tinh cà phê</h2>
                  <span>Với quy trình rang xay, chiết xuất, cô đặc, sấy phun trên dây chuyền công nghệ châu Âu với bí quyết thu hồi hương độc đáo, tinh cà phê hòa tan nguyên chất của Bách Thiên...</span>
              </div>
              <div class="hatcf col-lg-4">
                  <img src="./assets/image/nongsan.jpg" alt="">
                  <h2 class="tde">Nông sản</h2>
                  <span>Cung cấp rau sạch, thực phẩm sạch VietGap, GlobalGap, Organic chế biến đóng gói theo yêu cầu từ nông trại cho các đơn vị cung cấp và xuất khẩu.</span>
              </div>
              <div class="hatcf col-lg-4">
                  <img src="./assets/image/traicay.jpg" alt="">
                  <h2 class="tde">Trái cây</h2>
                  <span>Tại Bách Thiên có rất nhiều loại trái cây đa dạng như: nho Mỹ không hạt, lê Nam Phi, lê Hàn Quốc, kiwi vàng New Zealand...với tiêu chí tươi ngon, tốt ...</span>
              </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="gioi_thieu" >
          <div class="conca">
              <div class="tieude">
                  <h1>
                      <span class="daugach" style="color: green;">|</span>&nbsp;&nbsp;
                      <span class="chu">Giới thiệu về Bách Thiên</span>
                  </h1>
              </div>
              <br>
              <div class="row">
                  <div class="img_gioithieu col-lg-7">
                      <img src="./assets/image/gioithieu.png" alt="" width="80%">
                  </div>
                  <div class="text_gt col-lg-5">
                      <p style="color: gray;">Giới thiệu công ty</p>
                      <h2 style="color: green;">Công ty Bách Thiên</h2>
                      <p style="color: gray;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                      <p style="color: gray;">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                      <a href="" class="btn1">READ MORE</a>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <br>
      <div class="why">
          <div class="tieude">
              <h1>
                  <span class="daugach" style="color: green;">|</span>&nbsp;&nbsp;
                  <span class="chu">Tại sao chọn Bách Thiên!</span>
              </h1>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <div class="kho row">
              <div class="tai_sao col-lg-6">
                  <div class="taisao_chu">
                      <h5 class="taisaotd">CÀ PHÊ NGON BẮT NGUỒN TỪ NGUYÊN LIỆU</h5>
                      <p class="taisaond">✅100% Hạt cà phê tươi chín mọng được chúng tôi thu hái cẩn thận và sơ chế trong vòng 24h từ nông trại cà phê canh tác theo hướng hữu cơ</p>
                      <p class="taisaond">✅Tuyển chọn từ 100% hạt cà phê tươi chín mọng</p>
                      <p class="taisaond">✅Lên men tự nhiên</p>
                      <p class="taisaond">✅Phơi trên giàn phơi dưới ánh nắng tự nhiên</p>
                  </div>
                  <div class="taisao_chu">
                      <h5 class="taisaotd">QUY TRÌNH SẢN XUẤT CÀ PHÊ CHẤT LƯỢNG CAO                            </h5>
                      <p class="taisaond">Tại BÁCH THIÊN, chúng tôi chú trọng đến việc quản trị tính đồng nhất và khác biệt của từng dòng sản phẩm mà chúng tôi trân quý trao gửi đến cho khách hàng</p>
                  </div>
                  <div class="bonghoa">
                      <img src="./assets/image/gbwhy.png" alt="">
                  </div>
              </div>
              <div class="bono col-lg-6">
                  <div class="item15 conso-right">
                      <div class="grid-conso">
                          <div class="conso-item">
                              <div class="conso-box">
                                  <div>
                                      <p><span class="counter">7+</span></p>
                                      <p class="counden">Experience</p>
                                  </div>
                              </div>
                          </div>
                          <div class="conso-item">
                              <div class="conso-box">
                                  <div>
                                      <p><span class="counter">5+</span></p>
                                      <p>Experience</p>
                                  </div>
                              </div>
                          </div>
                          <div class="conso-item">
                              <div class="conso-box">
                                  <div>
                                      <p><span class="counter">2000+</span></p>
                                      <p>Experience</p>
                                  </div>
                              </div>
                          </div>
                          <div class="conso-item">
                              <div class="conso-box">
                                  <div>
                                      <p><span class="counter">10000+</span></p>
                                      <p class="counden">Experience</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="banner_duoi">
          <div class="owl-carousel">
              <div class="item"><img src="./assets/image/bg1_d.jpg" alt="First slide" width="100%" height="340px"></div>
              <div class="item"><img src="./assets/image/b2_d.jpg" alt="Second slide" width="100%" height="340px"></div>
              <div class="item"><img src="./assets/image/bg3_d.jpg" alt="Third slide" width="100%" height="340px"></div>
          </div>
          <!-- <div id="banner_duoi" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                      <img src="./assets/image/bg1_d.jpg" alt="First slide" width="100%" height="340px">
                  </div>
                  <div class="carousel-item">
                      <img src="./assets/image/b2_d.jpg" alt="Second slide" width="100%" height="340px">
                  </div>
                  <div class="carousel-item">
                      <img src="./assets/image/bg3_d.jpg" alt="Third slide" width="100%" height="340px">
                  </div>
              </div>
              <a class="carousel-control-prev" href="#banner_duoi" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#banner_duoi" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
          </div> -->
      </div>
      <br>
      <br>
      <br>
      <div class="tin_tuc">
          <div class="tieude">
              <h1>
                  <span class="daugach" style="color: green;">|</span>&nbsp;&nbsp;
                  <span class="chu">Tin tức</span>
              </h1>
          </div>
          <br>
          <div class="tin_tuc_right">
              <div class="row">
                  <div class="col-md-6">
                      <div class="card text-left">
                      <img class="card-img-top" src="./assets/image/muahoacf.png" alt="" width="100px">
                      <div class="card-body">
                          <h5 class="chu_tintuc card-title">Mùa hoa cà phê nở trắng xóa ở Tây Nguyên</h5>
                          <p class="card-text" style="color: grey;">Ly cà phê nguyên chất thơm ngon, đánh thức sự sáng tạo luôn là thức uống yêu thích của nhiều người sành cà phê hiện nay. Tuy nhiên, để mua được sản phẩm cà phê chính hãng</p>
                      </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="card text-left">
                          <img class="card-img-top" src="./assets/image/traicf.png" alt="">
                          <div class="card-body">
                          <h5 class="chu_tintuc card-title">Trái cà phê chín mọng mang lại bội thu lớn</h5>
                          <p class="card-text" style="color: grey;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <div class="card text-left">
                          <img class="card-img-top" src="./assets/image/10recom.png" alt="">
                          <div class="card-body">
                          <h5 class="chu_tintuc card-title">10 Recommendation Coffe 2023</h5>
                          <p class="card-text" style="color: grey;">Ly cà phê nguyên chất thơm ngon, đánh thức sự sáng tạo luôn là thức uống yêu thích của nhiều người sành cà phê hiện nay. Tuy nhiên, để mua được sản phẩm cà phê chính hãng</p>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="card text-left">
                          <img class="card-img-top" src="./assets/image/thuhoachcf.png" alt="">
                          <div class="card-body">
                          <h5 class="chu_tintuc card-title">Hình ảnh bà con thu hoạch cà phê</h5>
                          <p class="card-text" style="color: grey;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <br>
      <br>
      <div class="video_cf">
          <div class="tieude">
              <h1>
                  <span class="daugach" style="color: green;">|</span>&nbsp;&nbsp;
                  <span class="chu">Video</span>
              </h1>
          </div>
          <div class="hienthivideo">
                  <div class="oc_video">
                      <div class="row">
                      <div class="owl-carousel">
                          <div class="sontung col-6">
                              <div class="card">
                                  <div class="card-body">
                                      <iframe class="daiv" width="530" height="315" src="https://www.youtube.com/embed/rY2ogzqAwlk" frameborder="0" allowfullscreen></iframe>
                                      <a class="hvideo" href="https://www.youtube.com/watch?v=rY2ogzqAwlk"><h5>Video rang xay cafe nguyên chất</h5></a>
                                  </div>
                              </div>
                          </div>
                          <div class="sontung col-6">
                              <div class="card">
                                  <div class="card-body">
                                      <iframe class="daiv" width="530" height="315" src="https://www.youtube.com/embed/4GWFuqybuXA" frameborder="0" allowfullscreen></iframe>
                                      <a class="hvideo" href="https://www.youtube.com/watch?v=4GWFuqybuXA"><h5>Mùa thu hoạch cà phê ở các tỉnh ở Tây Nguyên</h5></a>
                                  </div>
                              </div>
                          </div>
                          <div class="sontung col-6">
                              <div class="card">
                                  <div class="daivid card-body">
                                      <iframe class="daiv" width="530" height="315" src="https://www.youtube.com/embed/FHc5Tnf_br4" frameborder="0" allowfullscreen></iframe>
                                      <a class="hvideo" href="https://www.youtube.com/watch?v=FHc5Tnf_br4"><h5>8 Cấp Độ RANG CÀ PHÊ</h5></a>
                                  </div>
                              </div>
                          </div>
                          <div class="sontung col-6">
                              <div class="card">
                                  <div class="card-body">
                                      <iframe class="daiv" width="530" height="315" src="https://www.youtube.com/embed/Ic5ZCpYn8mE" frameborder="0" allowfullscreen></iframe>
                                      <a class="hvideo" href="https://www.youtube.com/watch?v=Ic5ZCpYn8mE"><h5>Lịch Sử Cà Phê - Hành Trình Đi Khắp Thế Giới Của "Thức Uống Quốc Dân</h5></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <br>
      <div class="logo_doitac">
          <div class="tieude">
              <h1>
                  <span class="daugach" style="color: green;">|</span>&nbsp;&nbsp;
                  <span class="chu">Logo Đối Tác</span>
              </h1>
          </div>
          <br>
          <div>
              <hr style="height: 0.2px; background-color: black;">
          </div>
          <div class="oc_logo">
              <div class="owl-carousel">
                  <div class="item"><img src="./assets/image/lg1.jpg"></div>
                  <div class="item"><img src="./assets/image/lg2.jpg"></div>
                  <div class="item"><img src="./assets/image/lg3.jpg"></div>
                  <div class="item"><img src="./assets/image/lg4.jpg"></div>
                  <div class="item"><img src="./assets/image/lg5.jpg"></div>
                  <div class="item"><img src="./assets/image/lg6.jpg"></div>
              </div>
          </div>
      </div>
  </div>
</div>
<br>
<br>
