<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>


<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="#" class=""><span class="d-none d-md-inline-block">Chào mừng bạn đến website của chúng tôi</span></a>

        <div class="float-right">

          <select name="Vietnamese" id="">
                  <option value="Vietnamese">Vietnamese</option>
                  <option value="English">English</option>
                  <option value="Russian">Russian</option>
                  <option value="Japan">Japan</option>
                  <option value="Chinese">Chinese</option>

              </select>
              <button><a routerLink="/admin/dashboard">Admin</a></button>
        </div>



      </div>

    </div>

  </div>
</div>

<header class="site-navbar js-sticky-header site-navbar-target" role="banner">

  <div class="container">
    <div class="row align-items-center position-relative">


      <div class="site-logo">
        <a href="index.html" class="text-black"><img src="./assets/./images/logo.png" alt="" width="90px"></a>
      </div>

      <div class="col-12">
        <nav class="site-navigation text-right ml-auto " role="navigation">

          <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
            <li><a href="#home-section" class="nav-link">Giới thiệu</a></li>
            <li class="has-children">
              <a href="#about-section" class="nav-link">Cafe</a>
              <ul class="dropdown arrow-top">
                <li><a routerLink="/product" class="nav-link">Cà phê hạt rang nguyên chất</a></li>
                <li><a routerLink="/product" class="nav-link">Tinh cà phê</a></li>
                <li><a routerLink="/product" class="nav-link">Cà phê hòa tan</a></li>
                <li><a routerLink="/product" class="nav-link">Bột cà phê</a></li>
              </ul>
            </li>


            <li class="has-children">
              <a href="#about-section" class="nav-link">Nông sản</a>
              <ul class="dropdown arrow-top">
                <li><a routerLink="/product" class="nav-link">Trái cây</a></li>
              </ul>
            </li>

            <li><a routerLink="/post/share-exp" class="nav-link">Chia sẻ kinh nghiệm</a></li>

            <li><a routerLink="/post/nhipcau" class="nav-link">Nhịp cầu nhà nông</a></li>
            <li><a href="#blog-section" class="nav-link">Bảng giá</a></li>
            <li><a routerLink="/post/news" class="nav-link">Tin tức</a></li>
            <li><a href="#contact-section" class="nav-link">Liên hệ</a></li>
          </ul>
        </nav>

      </div>

      <div class="toggle-button d-inline-block d-lg-none"><span href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></span></div>

    </div>
  </div>

</header>
