<footer>
  <div class="footer_1" >
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="conca">
          <div class="footer_logo">
              <img src="./assets/image/logo.png" alt="" width="8%">
          </div>
          <br>
          <div class="lienhe row">
              <div class="foot_left col-lg-6">
                  <h5>CÔNG TY CỔ PHẦN NÔNG NGHIỆP HỮU CƠ BÁCH THIÊN</h5>
                  <h6>ĐC: L10-06, Tầng 10, Tòa Nhà Vicom Center, 72 Lê Thánh Tôn, P. Bến Nghé, Quận 1, TpHCM.</h6>
                  <h6>MST: 0317375921</h6>
                  <h6>Số điện thoại: 0358 161 086</h6>
                  <h6>Email: bachthien.organic@gmail.com</h6>

              </div>
              <div class="cafe col-lg-2">
                  <ul><span style="color: rgb(255, 255, 255); font-weight: 700;">Cafe</span>
                      <li><a href="">Cà phê hạt rang nguyên chất</a></li>
                      <li><a href="">Tinh Cà Phê</a></li>
                      <li><a href="">Cà phê hòa tan</a></li>
                      <li><a href="">Bột cà phê</a></li>
                  </ul>
              </div>
              <div class="cafe col-lg-2">
                  <ul><span style="color: rgb(255, 255, 255); font-weight: 700;">Nông sản</span>
                      <li><a href="">Trái cây</a></li>
                  </ul>
              </div>
              <div class="cafe col-lg-2">
                  <ul><span style="color: rgb(255, 255, 255); font-weight: 700;">Chính sách hỗ trợ</span>
                      <li><a href="">Hỗ trợ đặt hàng</a></li>
                      <li><a href="">Chính sách trả hàng</a></li>
                      <li><a href="">Chính sách bảo hành</a></li>
                      <li><a href="">Chính sách người dùng</a></li>
                      <li><a href="">Chính sách mua hàng</a></li>
                  </ul>
              </div>
          </div>
          <div class="mxh">
              <img src="./assets/image/mxh1.png" alt="" width="2.5%">
              <img src="./assets/image/mxh2.png" alt="" width="2.5%">
              <img src="./assets/image/mxh3.png" alt="" width="2.5%">
              <img src="./assets/image/mxh4.png" alt="" width="2.5%">
          </div>
      </div>

  </div>
  <div class="copyright">
      <p>2023 Copyright CÔNG TY CỔ PHẦN NÔNG NGHIỆP HỮU CƠ BÁCH THIÊN.</p>
  </div>
</footer>
